In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("data/StockEtablissementHistorique_utf8.csv", chunksize=1000000)
df1 = pd.DataFrame(df1.get_chunk(1000000))

In [ ]:
df2 = pd.read_csv("data/StockEtablissement_utf8.csv", chunksize=1000000)
df2 = pd.DataFrame(df2.get_chunk(1000000))

In [ ]:
df3 = pd.read_csv("data/StockEtablissementLiensSuccession_utf8.csv", chunksize=1000000)
df3 = pd.DataFrame(df3.get_chunk(1000000))

In [ ]:
df4 = pd.read_csv("data/StockUniteLegale_utf8.csv", chunksize=1000000)
df4 = pd.DataFrame(df4.get_chunk(1000000))

In [ ]:
df5 = pd.read_csv("data/StockUniteLegaleHistorique_utf8.csv", chunksize=1000000)
df5 = pd.DataFrame(df5.get_chunk(1000000))

In [18]:
df1

,siren,nic,siret,dateFin,dateDebut,etatAdministratifEtablissement,changementEtatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,changementEnseigneEtablissement,denominationUsuelleEtablissement,changementDenominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,changementActivitePrincipaleEtablissement,caractereEmployeurEtablissement,changementCaractereEmployeurEtablissement
0,325175,16,32517500016,NaN,2009-05-27,F,True,NaN,NaN,NaN,False,NaN,False,32.12Z,NAFRev2,False,N,False
1,325175,16,32517500016,2007-12-31,2000-09-26,A,False,NaN,NaN,NaN,False,NaN,False,NaN,NaN,False,N,False
2,325175,16,32517500016,2009-05-26,2008-01-01,A,False,NaN,NaN,NaN,False,NaN,False,32.12Z,NAFRev2,True,N,False
3,325175,24,32517500024,NaN,2011-10-21,F,True,TAHITI PERLES CREATIONS,NaN,NaN,False,NaN,False,47.89Z,NAFRev2,False,N,False
4,325175,24,32517500024,2011-10-20,2008-05-20,A,False,TAHITI PERLES CREATIONS,NaN,NaN,False,NaN,False,47.89Z,NAFRev2,False,N,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,215103797,19,21510379700019,NaN,2018-01-01,F,True,MAIRIE,NaN,NaN,False,NaN,False,84.11Z,NAFRev2,False,O,False
999996,215103797,19,21510379700019,2017-12-31,2008-01-01,A,False,MAIRIE,NaN,NaN,False,NaN,False,84.11Z,NAFRev2,True,O,False
999997,215103797,19,21510379700019,2007-12-31,2001-12-25,A,False,MAIRIE,NaN,NaN,False,NaN,False,75.1A,NAF1993,True,O,False
999998,215103797,19,21510379700019,1996-12-24,1983-03-01,A,False,MAIRIE,NaN,NaN,False,NaN,False,NaN,NaN,False,NaN,False
999999,215103797,27,21510379700027,2007-12-31,1983-12-25,A,False,ECOLE PRIMAIRE PUBLIQUE LES BOTTERETS,NaN,NaN,False,NaN,False,80.1Z,NAF1993,True,N,False

In [24]:
df1.columns

Index(['siren', 'nic', 'siret', 'dateFin', 'dateDebut',
       'etatAdministratifEtablissement',
       'changementEtatAdministratifEtablissement', 'enseigne1Etablissement',
       'enseigne2Etablissement', 'enseigne3Etablissement',
       'changementEnseigneEtablissement', 'denominationUsuelleEtablissement',
       'changementDenominationUsuelleEtablissement',
       'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'changementActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement',
       'changementCaractereEmployeurEtablissement'],
      dtype='object')

Colonnes importantes : 'etatAdministratifEtablissement', 'changementEtatAdministratifEtablissement', 'enseigne1Etablissement', 'enseigne2Etablissement', 'enseigne3Etablissement', 'changementEnseigneEtablissement', 'denominationUsuelleEtablissement', 'changementDenominationUsuelleEtablissement', 'activitePrincipaleEtablissement' 'nomenclatureActivitePrincipaleEtablissement', 'changementActivitePrincipaleEtablissement' 'caractereEmployeurEtablissement', 'changementCaractereEmployeurEtablissement'

In [21]:
df2.shape

(1000000, 48)