# Projet GGVIE : Détection de moments clés d'une entreprise

In [5]:
import pandas as pd
import requests

### Lecture des données

In [67]:
# Stock etablissement historique
stock_etablissement_hist = pd.read_csv("../data_Projet_GGVie/StockEtablissementHistorique_utf8.csv", chunksize=1000000, low_memory=False)
stock_etablissement_hist = pd.DataFrame(stock_etablissement_hist.get_chunk(1000000))

# Stock etablissement
stock_etablissement = pd.read_csv("../data_Projet_GGVie/StockEtablissement_utf8.csv", chunksize=1000000, low_memory=False)
stock_etablissement = pd.DataFrame(stock_etablissement.get_chunk(1000000))

# Stock etablissement lien succession
stock_etablissement_lien_succession = pd.read_csv("../data_Projet_GGVie/StockEtablissementLiensSuccession_utf8.csv", chunksize=1000000, low_memory=False)
stock_etablissement_lien_succession = pd.DataFrame(stock_etablissement_lien_succession.get_chunk(1000000))

# Stock unite legale
stock_unite_legale = pd.read_csv("../data_Projet_GGVie/StockUniteLegale_utf8.csv", chunksize=1000000, low_memory=False)
stock_unite_legale = pd.DataFrame(stock_unite_legale.get_chunk(1000000))

# Stock unite legale historique
stock_unite_legale_hist = pd.read_csv("../data_Projet_GGVie/StockUniteLegaleHistorique_utf8.csv", chunksize=1000000, low_memory=False)
stock_unite_legale_hist = pd.DataFrame(stock_unite_legale_hist.get_chunk(1000000))

"""# Infogreffe 2022
infogreffe_2022 = pd.read_csv("../data_Projet_GGVie/chiffres-cles-2022.csv", chunksize=1000000,low_memory=False)
infogreffe_2022 = pd.DataFrame(infogreffe_2022.get_chunk(1000000))"""

ParserError: Error tokenizing data. C error: out of memory

In [ ]:
infogreffe_2022 = pd.read_csv("../data_Projet_GGVie/chiffres-cles-2022.csv", chunksize=1000000,low_memory=False)

In [43]:
# Pour voir les colonnes en commun
#print(stock_etablissement.columns.intersection(stock_etablissement_hist.columns))
#print(stock_unite_legale.columns.intersection(stock_unite_legale_hist.columns))
print(stock_unite_legale_hist.columns.intersection(stock_etablissement.columns))

Index(['siren', 'dateDebut'], dtype='object')

In [44]:
print(stock_unite_legale_hist['siren'].intersection(stock_etablissement['siren']))

AttributeError: 'Series' object has no attribute 'intersection'

In [46]:
common_elements = stock_unite_legale_hist[stock_unite_legale_hist['siren'].isin(stock_etablissement['siren'])]

In [47]:
common_elements

,siren,dateFin,dateDebut,etatAdministratifUniteLegale,changementEtatAdministratifUniteLegale,nomUniteLegale,changementNomUniteLegale,nomUsageUniteLegale,changementNomUsageUniteLegale,denominationUniteLegale,...,nomenclatureActivitePrincipaleUniteLegale,changementActivitePrincipaleUniteLegale,nicSiegeUniteLegale,changementNicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,changementEconomieSocialeSolidaireUniteLegale,societeMissionUniteLegale,changementSocieteMissionUniteLegale,caractereEmployeurUniteLegale,changementCaractereEmployeurUniteLegale
0,325175,NaN,2018-02-07,A,False,JANOYER,False,NaN,False,NaN,...,NAFRev2,False,65.0,True,NaN,False,NaN,False,N,False
1,325175,2018-02-06,2014-01-07,A,False,JANOYER,False,NaN,False,NaN,...,NAFRev2,False,57.0,True,NaN,False,NaN,False,N,False
2,325175,2014-01-06,2011-10-21,A,False,JANOYER,False,NaN,False,NaN,...,NAFRev2,False,40.0,True,NaN,False,NaN,False,N,False
3,325175,2011-10-20,2009-05-27,A,False,JANOYER,False,NaN,False,NaN,...,NAFRev2,False,32.0,True,NaN,False,NaN,False,N,False
4,325175,2009-05-26,2008-01-01,A,False,JANOYER,False,NaN,False,NaN,...,NAFRev2,True,16.0,False,NaN,False,NaN,False,N,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,266301829,1987-12-31,1983-12-25,A,False,NaN,False,NaN,False,BUREAU D AIDE SOCIALE DE EGLISOLLES,...,NAF1993,True,13.0,False,NaN,False,NaN,False,N,False
999996,266301829,1983-12-24,1983-03-01,A,False,NaN,False,NaN,False,BUREAU D AIDE SOCIALE DE EGLISOLLES,...,NaN,False,13.0,False,NaN,False,NaN,False,N,True
999997,266301829,1983-02-28,1982-01-01,A,True,NaN,False,NaN,False,BUREAU D AIDE SOCIALE DE EGLISOLLES,...,NaN,False,13.0,True,NaN,False,NaN,False,NaN,False
999998,266301829,1981-12-31,1900-01-01,NaN,False,NaN,False,NaN,False,BUREAU D AIDE SOCIALE DE EGLISOLLES,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
999999,266301837,NaN,2016-01-01,C,True,NaN,False,NaN,False,CENTRE COMMUNAL D'ACTION SOCIALE,...,NAFRev2,False,16.0,False,NaN,False,NaN,False,N,False

### Merge des données

In [54]:
# Sous-dataframe stock
stock_merged = stock_unite_legale.merge(stock_etablissement,on='siren',how='left')

# Sous-dataframe historiques
stock_hist_merged = stock_unite_legale_hist.merge(stock_etablissement_hist,on=['siren','dateDebut','dateFin'],how='left')

# Sous-dataframe unite legales
stock_unite_legale_merged = stock_unite_legale.merge(stock_unite_legale_hist,on=['siren', 'dateDebut', 'etatAdministratifUniteLegale', 'nomUniteLegale',
       'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'categorieJuridiqueUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale', 'nicSiegeUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'societeMissionUniteLegale',
       'caractereEmployeurUniteLegale'],how='left')

# Sous-dataframe etablissements
stock_etablissement_merged = stock_etablissement.merge(stock_etablissement_hist,on=['siren', 'nic', 'siret', 'dateDebut', 'etatAdministratifEtablissement',
       'enseigne1Etablissement', 'enseigne2Etablissement',
       'enseigne3Etablissement', 'denominationUsuelleEtablissement',
       'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'])

In [41]:
stock_etablissement_merged

1000000

In [60]:
stock_etablissement.shape[1]

48

In [63]:
stock_etablissement_merged

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement,dateFin,changementEtatAdministratifEtablissement,changementEnseigneEtablissement,changementDenominationUsuelleEtablissement,changementActivitePrincipaleEtablissement,changementCaractereEmployeurEtablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,32.12Z,NAFRev2,N,NaN,True,False,False,False,False
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,47.89Z,NAFRev2,N,NaN,True,False,False,False,False
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,32.12Z,NAFRev2,N,NaN,True,False,False,False,False
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,32.12Z,NAFRev2,N,NaN,True,False,False,False,False
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,32.12Z,NAFRev2,N,NaN,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394705,215103771,30,21510377100030,O,2009-12-25,03,2020.0,NaN,2022-08-29T09:07:33,False,...,NaN,85.20Z,NAFRev2,N,NaN,False,False,False,False,False
394706,215103789,16,21510378900016,O,1983-03-01,02,2020.0,NaN,2022-08-29T09:07:33,True,...,NaN,84.11Z,NAFRev2,O,NaN,False,False,False,True,False
394707,215103789,24,21510378900024,O,1983-12-21,NN,NaN,NaN,2021-10-27T08:08:45,False,...,NaN,85.20Z,NAFRev2,N,NaN,False,True,False,False,False
394708,215103789,32,21510378900032,O,1995-12-25,NN,NaN,NaN,2009-01-12T11:17:58,False,...,NaN,36.00Z,NAFRev2,N,NaN,False,False,False,True,False
394709,215103797,19,21510379700019,O,1983-03-01,NN,NaN,NaN,2020-08-25T10:17:36,True,...,NaN,84.11Z,NAFRev2,O,NaN,True,False,False,False,False

In [12]:
stock_unite_legale_merged['siren'].nunique()

304567