In [5]:
import pandas as pd
import requests

### Lecture des données

In [ ]:
# Stock etablissement historique
stock_etablissement_hist = pd.read_csv("../data_Projet_GGVie/StockEtablissementHistorique_utf8.csv", chunksize=1000000)
stock_etablissement_hist = pd.DataFrame(stock_etablissement_hist.get_chunk(1000000))

# Stock etablissement
stock_etablissement = pd.read_csv("../data_Projet_GGVie/StockEtablissement_utf8.csv", chunksize=1000000)
stock_etablissement = pd.DataFrame(stock_etablissement.get_chunk(1000000))

# Stock etablissement lien succession
stock_etablissement_lien_succession = pd.read_csv("../data_Projet_GGVie/StockEtablissementLiensSuccession_utf8.csv", chunksize=1000000)
stock_etablissement_lien_succession = pd.DataFrame(stock_etablissement_lien_succession.get_chunk(1000000))

# Stock unite legale
stock_unite_legale = pd.read_csv("../data_Projet_GGVie/StockUniteLegale_utf8.csv", chunksize=1000000)
stock_unite_legale = pd.DataFrame(stock_unite_legale.get_chunk(1000000))

# Stock unite legale historique
stock_unite_legale_hist = pd.read_csv("../data_Projet_GGVie/StockUniteLegaleHistorique_utf8.csv", chunksize=1000000)
stock_unite_legale_hist = pd.DataFrame(stock_unite_legale_hist.get_chunk(1000000))

In [ ]:
# Pour voir les colonnes en commun
print(stock_etablissement.columns.intersection(stock_etablissement_hist.columns))
print(stock_unite_legale.columns.intersection(stock_unite_legale_hist.columns))
print(stock_unite_legale_hist.columns.intersection(stock_etablissement_hist.columns))

### Merge des données

In [32]:
# Merge des stock
stock_merged = stock_unite_legale.merge(stock_etablissement,on='siren',how='left')

# Merge des historiques
stock_hist_merged = stock_unite_legale_hist.merge(stock_etablissement_hist,on=['siren','dateDebut','dateFin'],how='left')

# Merge des unite legales
stock_unite_legale_merged = stock_unite_legale.merge(stock_unite_legale_hist,on=['siren', 'dateDebut', 'etatAdministratifUniteLegale', 'nomUniteLegale',
       'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'categorieJuridiqueUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale', 'nicSiegeUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'societeMissionUniteLegale',
       'caractereEmployeurUniteLegale'],how='left')

# Merge des etablissements
stock_etablissement_merged = stock_etablissement.merge(stock_etablissement_hist,on=['siren', 'nic', 'siret', 'dateDebut', 'etatAdministratifEtablissement',
       'enseigne1Etablissement', 'enseigne2Etablissement',
       'enseigne3Etablissement', 'denominationUsuelleEtablissement',
       'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'],how='left')

In [34]:
stock_merged

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,libellePaysEtranger2Etablissement,dateDebut_y,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,O,NaN,2000-09-26,NaN,M,THIERRY,NaN,NaN,NaN,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1379389,312014335,O,True,NaN,NaN,F,BRIGITTE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379390,312014343,O,NaN,1978-01-01,NaN,F,LUCIENNE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379391,312014350,O,True,1978-01-01,NaN,M,PATRICE,XAVIER,DENIS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379392,312014368,O,True,1964-12-25,NaN,M,GERARD,GERMAIN,JEAN,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379393,312014376,O,True,1978-01-01,NaN,M,ROGER,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
stock_unite_legale_merged['siren'].nunique()

304567