In [4]:
import pandas as pd
import requests

In [ ]:
# Stock etablissement historique
stock_etablissement_hist = pd.read_csv("../data_Projet_GGVie/StockEtablissementHistorique_utf8.csv", chunksize=1000000)
stock_etablissement_hist = pd.DataFrame(stock_etablissement_hist.get_chunk(1000000))

# Stock etablissement
stock_etablissement = pd.read_csv("../data_Projet_GGVie/StockEtablissement_utf8.csv", chunksize=1000000)
stock_etablissement = pd.DataFrame(stock_etablissement.get_chunk(1000000))

# Stock etablissement lien succession
stock_etablissement_lien_succession = pd.read_csv("../data_Projet_GGVie/StockEtablissementLiensSuccession_utf8.csv", chunksize=1000000)
stock_etablissement_lien_succession = pd.DataFrame(stock_etablissement_lien_succession.get_chunk(1000000))

# Stock unite legale
stock_unite_legale = pd.read_csv("../data_Projet_GGVie/StockUniteLegale_utf8.csv", chunksize=1000000)
stock_unite_legale = pd.DataFrame(stock_unite_legale.get_chunk(1000000))

# Stock unite legale historique
stock_unite_legale_hist = pd.read_csv("../data_Projet_GGVie/StockUniteLegaleHistorique_utf8.csv", chunksize=1000000)
stock_unite_legale_hist = pd.DataFrame(stock_unite_legale_hist.get_chunk(1000000))

In [ ]:
# Pour voir les colonnes en commun
print(stock_etablissement.columns.intersection(stock_etablissement_hist.columns))
print(stock_unite_legale.columns.intersection(stock_unite_legale_hist.columns))

In [ ]:
print(stock_unite_legale_merged.columns.intersection(stock_etablissement_merged.columns))

In [62]:
print(stock_unite_legale.columns.intersection(stock_etablissement.columns))

Index(['siren', 'dateDebut'], dtype='object')

In [41]:
stock_unite_legale_merged = stock_unite_legale.merge(stock_unite_legale_hist,on=['siren', 'dateDebut', 'etatAdministratifUniteLegale', 'nomUniteLegale',
       'nomUsageUniteLegale', 'denominationUniteLegale',
       'denominationUsuelle1UniteLegale', 'denominationUsuelle2UniteLegale',
       'denominationUsuelle3UniteLegale', 'categorieJuridiqueUniteLegale',
       'activitePrincipaleUniteLegale',
       'nomenclatureActivitePrincipaleUniteLegale', 'nicSiegeUniteLegale',
       'economieSocialeSolidaireUniteLegale', 'societeMissionUniteLegale',
       'caractereEmployeurUniteLegale'])

In [37]:
stock_etablissement_merged = stock_etablissement.merge(stock_etablissement_hist,on=['siren', 'nic', 'siret', 'dateDebut', 'etatAdministratifEtablissement',
       'enseigne1Etablissement', 'enseigne2Etablissement',
       'enseigne3Etablissement', 'denominationUsuelleEtablissement',
       'activitePrincipaleEtablissement',
       'nomenclatureActivitePrincipaleEtablissement',
       'caractereEmployeurEtablissement'])

In [74]:
stock_etablissement

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2009-05-27,F,NaN,NaN,NaN,NaN,32.12Z,NAFRev2,N
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,47.89Z,NAFRev2,N
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,NaN,2011-10-21,F,TAHITI PERLES CREATIONS,NaN,NaN,NaN,32.12Z,NAFRev2,N
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,NaN,2014-01-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,NaN,2018-02-07,F,TAHITI PERLES CREATION,NaN,NaN,NaN,32.12Z,NAFRev2,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,305147969,29,30514796900029,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1989-01-01,F,NaN,NaN,NaN,NaN,74.1C,NAF1993,N
999996,305147985,25,30514798500025,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1990-02-28,F,NaN,NaN,NaN,NaN,67.13,NAP,N
999997,305148017,18,30514801700018,O,NaN,NaN,NaN,NaN,NaN,True,...,NaN,1990-12-07,F,NaN,NaN,NaN,NaN,62.12,NAP,N
999998,305148041,26,30514804100026,O,1980-01-01,NN,NaN,NaN,2019-11-14T14:00:38,True,...,NaN,2008-01-01,A,NaN,NaN,NaN,NaN,68.20B,NAFRev2,N
999999,305148074,19,30514807400019,O,NaN,NaN,NaN,NaN,2019-11-14T14:00:38,True,...,NaN,1987-10-07,F,NaN,NaN,NaN,NaN,89.02,NAP,N

In [63]:
stock_unite_legale_merged['siren'].nunique()

304567

In [49]:
stock_merged = stock_etablissement_merged.merge(stock_unite_legale_merged,on='siren')

In [50]:
stock_merged

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,changementNomUniteLegale,changementNomUsageUniteLegale,changementDenominationUniteLegale,changementDenominationUsuelleUniteLegale,changementCategorieJuridiqueUniteLegale,changementActivitePrincipaleUniteLegale,changementNicSiegeUniteLegale,changementEconomieSocialeSolidaireUniteLegale,changementSocieteMissionUniteLegale,changementCaractereEmployeurUniteLegale
0,325175,16,32517500016,O,2000-09-26,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,False,False,False,False,False,False,True,False,False,False
1,325175,24,32517500024,O,2008-05-20,NaN,NaN,NaN,2011-12-12T09:40:04,False,...,False,False,False,False,False,False,True,False,False,False
2,325175,32,32517500032,O,2009-05-27,NaN,NaN,NaN,2014-07-08T00:10:21,False,...,False,False,False,False,False,False,True,False,False,False
3,325175,40,32517500040,O,2011-10-21,NaN,NaN,3212ZZ,2015-03-18T00:58:59,False,...,False,False,False,False,False,False,True,False,False,False
4,325175,57,32517500057,O,2014-01-07,NaN,NaN,NaN,2018-07-10T14:17:15,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394705,215103771,30,21510377100030,O,2009-12-25,03,2020.0,NaN,2022-08-29T09:07:33,False,...,False,False,False,False,False,True,False,False,False,False
394706,215103789,16,21510378900016,O,1983-03-01,02,2020.0,NaN,2022-08-29T09:07:33,True,...,False,False,False,False,False,True,False,False,False,False
394707,215103789,24,21510378900024,O,1983-12-21,NN,NaN,NaN,2021-10-27T08:08:45,False,...,False,False,False,False,False,True,False,False,False,False
394708,215103789,32,21510378900032,O,1995-12-25,NN,NaN,NaN,2009-01-12T11:17:58,False,...,False,False,False,False,False,True,False,False,False,False
394709,215103797,19,21510379700019,O,1983-03-01,NN,NaN,NaN,2020-08-25T10:17:36,True,...,False,False,False,False,False,False,False,False,False,False